<div class="product_section">
    <div class="store_menu">
        <ul class="filter_menu">
            <li>Filtros
                <ul class="filter_menu2">
                <li class="lis"> <a href="/store" class="filters"> Todo</li></a>
                <li class="lis"> <a href="/store/?search=no tiene" class="filters"> Sin licor</li></a>
                <li class="lis"> <a href="/store/?search=tiene" class="filters"> Con licor</li></a>
                <li class="lis"> <a href="/store/?search=clasico" class="filters"> Clásicos</li></a>
                <li class="lis"> <a href="/store/?search=de la casa" class="filters"> De la casa</li></a>
                <li class="lis"> <a href="/store/?price_lt=50000" class="filters"> Promos </li></a>
                </ul>
            </li>
        </ul>
    </div>
<main class="productlist">
    {{#each list}}
    <div class="thumb">
        <a href="/product/{{title}}/{{_id}}" class="thumb__link">
        <img class="thumb__img" src="{{img}}" width="247px" height="340px">
        <h2 class="thumb__price">{{title}}</h2>
        <h2 class="thumb__price">{{price}}cop</h2>
        </a>
        <button class="btnAdd" data-name="{{title}}"
        data-price="{{price}}"
        data-id="{{_id}}"
        data-img="{{img}}"
        >
        Añadir</button>
    </div>
    {{/each}}
</main>
</div>
